.header {
  padding: 3rem;
  background-image: url("/sky.jpg");
  background-size: cover;
  height: 300px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}

.header h1 {
  font-size: 5rem;
}

.nav {
  padding: 2rem 0;
}

.navList {
  display: flex;
  flex-direction: row;
}

.navListItem {
  list-style-type: none;
  margin: 0 2rem 0 0;
}

.navLink {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  transition: background-color 0.2s;
}

.navLink:hover {
  background-color:#ebebeb;
  transition: background-color 0.2s;
}

.navLink:last-child {
  margin: 0;
}